OPENCODE_SERVER_PASSWORD=
OPENCODE_SERVER_USERNAME=
GITHUB_TOKEN=
GIT_USER_NAME=
GIT_USER_EMAIL=
ATRIA_API_KEY=
FREETHEAI_API_KEY=
MISTRAL_API_KEY=
GROQ_API_KEY=
GOOGLE_API_KEY=
NVIDIA_API_KEY=
OPENROUTER_API_KEY=
